version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build:
      context: ./BUILDAURA_B
    container_name: backend
    ports:
      - "5000:5000"
    env_file:
      - ./BUILDAURA_B/.env   
    depends_on:
      - mongo

  frontend:
    build:
      context: ./BUILDAURA_F
    container_name: frontend
    ports:
      - "5173:80"
    environment:
      - VITE_API_URL=http://localhost:5000
    depends_on:
      - backend

volumes:
  mongo-data:
