version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    
    image: hiruniiresha/devops_backend:latest
    container_name: backend
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - ./BUILDAURA_B/.env   
    depends_on:
      - mongo

  frontend:
    
    image: hiruniiresha/devops_frontend:latest
    container_name: frontend
    restart: always
    ports:
      - "3000:80" # Standardized port: mapped 3000 to the container's 80
    environment:
      - VITE_API_URL=http://3.109.62.60:5000 
    depends_on:
      - backend

volumes:
  mongo-data: